.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 20px;
}

.footer__column-links .footer__column-link {
  padding-left: 0;
}
