.kaufman__triangle {
  position: absolute;
  left: 60%;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  animation: rotation linear 20s infinite;
  z-index: 0;
}
