@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Inter", Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background: #f2f2f2;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

.header__title {
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 2;
  width: 730px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.link__color:hover {
  color: rgb(118, 177, 228);
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../images/two_again.png);
  background-size: cover;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  animation: rotation linear 20s infinite;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px 0 100px 0;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  max-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 30px 0 0;
}

.two-columns__paragraph:first-child {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.techniques {
  margin: 0 auto;
  width: 80%;
}

.section-title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
}

.cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  column-gap: 100px;
}

.cards__item {
  width: 240px;
  text-align: center;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;
}

.cards__title {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 16px;
}

.cards__description {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
}

.video__iframes {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -48px;
  margin-top: 50px;
  column-gap: 20px;
}

.oakley {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 160px 0 100px;
}

.feynman {
  background: #f2f2f2 url(../images/feinman.png) no-repeat bottom left;
  height: 780px;
}

.feynman__title {
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

.feynman__subtitle {
  font-size: 35px;
  text-align: center;
}

.feynman__link {
  position: absolute;
  right: 35px;
  color: #2f80ed;
  text-decoration: none;
  font-size: 35px;
}

.digits {
  margin: 100px auto;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 20px;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
}

.khan {
  background-color: #f2f2f2;
}

.khan__container {
  margin: 0 auto;
  width: 80%;
  padding-top: 100px;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}
.khan__book-container {
  display: flex;
  margin-top: 68px;
}

.khan__book_pic {
  background-image: url(../images/khan-book.jpg);
  width: 620px;
  height: 700px;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  margin-left: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
}

.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 1;
}

.table_theme_dark {
  justify-content: space-between;
  position: relative;
  margin-bottom: 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  position: absolute;
  left: 60%;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  animation: rotation linear 20s infinite;
  z-index: 0;
}

.resources__logo-zone {
  width: 1100px;
  margin: 0 auto;
}

.resources__logo {
  display: inline-block;
  width: 270px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 80px;
  margin-bottom: 217px;
}

.resources__logo_arzamas {
  background-image: url(../images/logo/resources-arzamas.svg);
}

.resources__logo_n1 {
  background-image: url(../images/logo/resources-n1.svg);
}

.resources__logo_strelka {
  background-image: url(../images/logo/resources-strelka.svg);
}

.resources__logo_polka {
  background-image: url(../images/logo/resources-polka.svg);
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.logo_place_footer {
  position: absolute;
  background: url(../images/logo_white.svg) no-repeat;
}

.footer__author {
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__content_info {
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
}

.footer__social-icons {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 20px;
}

.footer__column-link_facebook {
  background: url(../images/facebook_white.svg) no-repeat;
}

.footer__column-link_vk {
  background: url(../images/vk_white.svg) no-repeat;
}

.footer__column-link_instagram {
  background: url(../images/instagram_white.svg) no-repeat;
}
